services:

  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: metabase
      MYSQL_USER: metabase
      MYSQL_PASSWORD: metabasepass
    ports:
      - "3306:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "127.0.0.1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - app_network

  zookeeper:
    image: bitnami/zookeeper:latest
    container_name: zookeeper
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
      - ZOO_PORT_NUMBER=2181
    ports:
      - "2181:2181"
    volumes:
      - zookeeper_data:/bitnami/zookeeper
    healthcheck:
      test: ["CMD-SHELL", "zkServer.sh status || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  redis:
    image: redis:latest
    hostname: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app_network

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8085:8080" # Access kafka-ui at http://localhost:8085
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      DYNAMIC_CONFIG_ENABLED: 'true'
    networks:
      - app_network

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - "3002:3000" # Access kafka-ui at http://localhost:3002
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - app_network

  hbase:
    image: harisekhon/hbase:latest
    platform: linux/amd64
    container_name: hbase
    depends_on:
      zookeeper:
        condition: service_started
    ports:
      - "16010:16010"  # HBase Master Web UI
      - "16020:16020"  # HBase RegionServer Web UI
      - "16030:16030"  # HBase Thrift Server
      - "9090:9090"    # HBase Thrift Server
      - "9095:9095"    # HBase REST Server
    environment:
      - HBASE_CONF_hbase_rootdir=/hbase-data
      - HBASE_CONF_hbase_zookeeper_quorum=zookeeper
      - HBASE_CONF_hbase_zookeeper_property_clientPort=2181
      - HBASE_HEAPSIZE=512m
    volumes:
      - hbase_data:/hbase-data
    networks:
      - app_network
    # Add resource limits
    deploy:
      resources:
        limits:
          memory: 1G
        reservations:
          memory: 512M

volumes:
  hbase_data:
  zookeeper_data:
  kafka_data:
  redis_data:
  grafana-data:

networks:
  app_network:
    driver: bridge