services:

  zookeeper:
    image: bitnami/zookeeper:latest
    container_name: zookeeper
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
      - ZOO_PORT_NUMBER=2181
    ports:
      - "2181:2181"
    volumes:
      - zookeeper_data:/bitnami/zookeeper
    healthcheck:
      test: ["CMD-SHELL", "zkServer.sh status || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  hbase:
    image: harisekhon/hbase:latest
    platform: linux/amd64
    container_name: hbase
    depends_on:
      zookeeper:
        condition: service_started
    ports:
      - "16010:16010"  # HBase Master Web UI
      - "16020:16020"  # HBase RegionServer Web UI
      - "16030:16030"  # HBase Thrift Server
      - "9090:9090"    # HBase Thrift Server
      - "9095:9095"    # HBase REST Server
    environment:
      - HBASE_CONF_hbase_rootdir=/hbase-data
      - HBASE_CONF_hbase_zookeeper_quorum=zookeeper
      - HBASE_CONF_hbase_zookeeper_property_clientPort=2181
      - HBASE_HEAPSIZE=512m
    volumes:
      - hbase_data:/hbase-data
    networks:
      - app_network
    # Add resource limits
    deploy:
      resources:
        limits:
          memory: 1G
        reservations:
          memory: 512M

volumes:
  hbase_data:
  zookeeper_data:
  grafana-data:

networks:
  app_network:
    driver: bridge